<div class="hero-unit">
  <h4 style="color:#84D7FF;"><strong>About Update Accountants Limited</strong></h4>
    <p  style="color:#84D7FF;"> If you are an independent contractor, or considering becoming one, you simply can't afford to ignore J.K.Shah accountants, a unique accountancy, tax and record-keeping system designed especially for you. </p>
    <hr>

    <p  style="color:#84D7FF;"><strong>Your Problem</strong></p>
    <p  style="color:#84D7FF;">Becoming an independent contractor offers many benefits and can be extremely lucrative for you. The problem is the financial maze you are faced with.</p>
    <p  style="color:#84D7FF;">Looking after your company demands your time and attention. The last thing you need is the worry caused by a mountain of paperwork.</p>
    <p  style="color:#84D7FF;">But paperwork is a fact of business life and unless it is dealt with in a correct and timely manner the very existence of your business could be at risk.</p>
</div>
