      <div class="hero-unit">
        <h2 style="color:#04415F;"><strong>Welcome to Update Accountants Limited</strong></h2>
        <p class="lead" style="color:#04415F;"><strong>Are you getting the correct advice, especially when you need it?</strong></p>
        <p  style="color:#04415F;"><strong>In a competitive world, getting the correct advice when you need it is often the difference between success and failure. JK.Shah are a leading accountancy practice offering a comprehensive range of services. Our aims are simple:</strong>
          </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <p style="color:#086391;"><strong>To provide our clients with the best business and financial services possible, giving positive and profitable solutions.</strong></p>
        </div>
        <div class="span4">
          <p style="color:#086391;"><strong>To obtain a thorough understanding of your business and providing ways to make it successful for you.</strong></p>
       </div>
      <div class="span4">
          <p style="color:#086391;"><strong>Minimal time spent on record-keeping.</strong></p>
       </div>
      </div>
    <div class="row">
        <div class="span4">
          <p style="color:#086391;"><strong>Fees agreed in advance and paid for by monthly standing order.</strong></p>
        </div>
        <div class="span4">
          <p style="color:#086391;"><strong>Advance knowledge of all tax liabilities.</strong></p>
       </div>
      <div class="span4">
          <p style="color:#086391;"><strong>Management accounts prepared quarterly, this is included in our fee.</strong></p>
       </div>
      </div>